@import "tailwindcss";
@plugin "daisyui" {
  name: "mytheme";
  default: true;
  prefersdark: false;
}
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  --color-primary: #31e4ff;
  --color-primary-content: #000;
  --color-secondary: #ffeb9a;
  --color-secondary-content: #655b31;
  --color-accent: #d000ff;
  --color-accent-content: #171717;
  --color-neutral: #2c2c2c;
  --color-success: #51cb46;
  --color-success-content: #fff;

  --color-base-100: #1b1b1b;
  --color-base-200: #121212;
  --color-base-300: #0a0a0a;
  --color-base-content: #fff;
  --color-error: #ef4256;
  --color-error-content: #fff;

  --color-neutral-content: #fff;
  --color-accent-content: #fff;
  --color-info-content: #fff;
}

input {
  color-scheme: dark;
}

body {
  background: #0f0f0f;
  background: linear-gradient(
    351deg,
    rgba(0, 5, 13, 1) 0%,
    rgba(0, 6, 18, 1) 100%
  );
}

@theme {
  --font-averia-libre: var(--font-averia-libre);
  --animate-pop-up: pop-up 0.3s ease-out forwards;
  --animate-slide-up-and-fade-out: slide-up-and-fade-out 0.3s ease-in forwards;
  --animate-slide-up: slide-up 0.3s ease-in forwards;

  /* this is for the new second text that is popping up */
  @keyframes pop-up {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes slide-up-and-fade-out {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
}
