@import "tailwindcss";
@plugin "daisyui" {
  themes: lofi --default;
}
@plugin "daisyui/theme" {
  name: "lofi";
  default: true;
  --color-primary: #288fe1;
  --color-base-100: #f8f8f8;
  --color-base-200: #f3f3f3;
  --color-base-300: #e1e1e1;
  --color-error: #ef4256;
  --color-error-content: #ffffff;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-lexend: var(--font-lexend);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
} */
