@import "tailwindcss";
@plugin "daisyui" {
  name: "mytheme";
  default: true;
  prefersdark: false;
}
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  --color-primary: #31e4ff;
  --color-primary-content: #000;
  --color-secondary: #ffeb9a;
  --color-secondary-content: #655b31;
  --color-accent: #d000ff;
  --color-accent-content: #171717;
  --color-accent-active: #9b5de5;
  --color-neutral: #121212;
  --color-success: #51cb46;
  --color-success-content: #fff;

  --color-base-100: #2a2a2a;
  --color-base-200: #1e1e1e;
  --color-base-300: #131313;
  --color-base-content: #fff;
  --color-error: #ef4256;
  --color-error-content: #fff;

  --color-neutral-content: #fff;
  --color-accent-content: #fff;
  --color-info-content: #fff;
}

input {
  color-scheme: dark;
}

body {
  background: #0f0f0f;
  background: linear-gradient(
    351deg,
    rgba(8, 8, 8, 1) 0%,
    rgba(15, 15, 15, 1) 100%
  );
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-averia-libre: var(--font-averia-libre);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
} */
